# OS / Editor
Thumbs.db
Desktop.ini
.DS_Store
.vscode/
.idea/
*.code-workspace

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
pip-wheel-metadata/
.pytest_cache/
.coverage*
dist/
build/

# Node / Frontend (if added later)
node_modules/
npm-debug.log*
yarn-error.log*

# Docker
*.pid
*.log
*.tar
**/.dockerignore

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfvars
**/*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry

# Secrets / creds (add patterns you use)
secrets.*
*.key
*.pem
*.pfx
*.pub
*.cert
.env
.env.*

# Build artifacts & misc
*.iml
*.swp
*.swo
*.tmp
*.bak
*.old

# macOS/Linux crap (cross-platform insurance)
._*
.Spotlight-V100
.Trashes